#submit {
	background-color:rebeccapurple;
	color: white;
	border-width: 2px;
	height: 30px;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	width: 75px;
}
body {
	background-color: #a09cd0;
	text-align: center;
}
.qlabel {
	font-family: 'Poppins' , sans-serif;
	font-size: 20px;
}
.optiontext {
	font-family: 'Poppins' , sans-serif;
}
.option {
	width: 17px;
	margin-right: 10px;
	height: 17px;
	background-color: mediumpurple;
}
#result {
	font-size:30px;
	font-family: 'Roboto' , sans-serif;
	color: white;
}
#resultpercent {
	font-size:30px;
	font-family: 'Roboto' , sans-serif;
	color: white;
}
.question {
	width: 50%;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 10px;
	text-align: left;
	margin-right: 25%;
	margin-left: 25%;
	border-radius: 5px;
	background-color: white;
	 
}